@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	width: 100%;
}

.nav {
	grid-area: nav;
	display: grid;
	justify-content: right;
	grid-auto-flow: column;
	gap: 2em;
	align-items: center;
	height: auto;
	padding: 20px;
  background-color:white;
   z-index: 1;
	position: fixed;
}

.nav_list {
	display: grid;
	grid-auto-flow: column;
	gap: 6em;
	list-style: none;
	margin-bottom: 10px;
}

.nav_logo {
	font-size: 1.8rem;
	font-weight: 300;
}

.nav_link {
	font-family: 'Montserrat', sans-serif;
	color: #045c32;
	font-weight: 600;
	letter-spacing: 0.5px;
	text-decoration: none;
}

#homenav {
	font-weight: bold;
}

.nav_link:hover {
	color: #f36523;
	text-decoration: underline overline #f36523;
}

.nav_menu {
	display: none;
}

.nav_icon {
	width: 30px;
}

.hero {
	color: #fff;
	grid-template-rows: max-content 1fr;
	grid-template-areas:
		"nav"
		"content";
	min-height: 100vh;
  margin: 0;
}

.container {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
  top:0px;
}

/* Hero Main */
.hero_main {
	grid-area: content;
	display: grid;
	grid-template-columns: 0.5fr 2fr;
	padding-bottom: 50px;
	gap: 2em;
}

#background-video {
	object-fit:fill;
	position: absolute;
	top: 0;
	left: 30%;
  transform: translate(-50%);
	max-width:60%;
	height: 100%;
	z-index: -1;
}

.derecha {
	background-image: url(imagen/principal1.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100vh;
}

#alinear{
  display: flex;
  text-align: center;
  margin: 75px 0px 100px 500px;
  flex-direction: column; 
  justify-content:center; 
  align-items:center;
}

.imagen_de{
 /*  width: 30vh; */
 height: 20vw;
}

.hero_waves {
	grid-area: content;
	align-self: end;
}

.logo_title {
	color: #045c32;
	font-weight: 600;
	font-size: 1.1rem;
	font-family: 'Montserrat', sans-serif;
  margin-left: 10px;
}

.hero_title {
	font-size: 2em;
  margin:0 0 0 10px;
  font-weight: bold;
	font-family: 'Amatic SC', sans-serif;
	color: #5e5e5e;
}

.hero_subtitle {
	font-size: 2rem;
  font-weight: bolder;
	font-family: 'Amatic SC', sans-serif;
	color: #045c32;
}

.hero_cta {
	text-decoration: none;
	color: #045c32;
	padding: 15px 60px;
  border-radius: 1px;
  border: 2px solid #045c32;
	display: inline-block;
	font-weight: 700;
	font-size: 0.75rem; 
	font-family: 'Montserrat', sans-serif;
}

.hero_cta:hover {
	background-color: #f36523;
	color: #fff;
  border-color: #045c32;
}


/**contenedor2**/


#contenedor6{
  display:grid;
  grid-template-columns: 1.5fr 3fr;
  column-gap: 20%;
  margin-top: 20px;
}

#izquierda6{
  display: grid;
  grid-template-columns: 1fr;
  overflow:hidden;
  column-gap:10px;
  justify-content: center;
}

#derecha6{
  display: grid;
  align-items: center;

}

.imgdiv6 {
  position: absolute;
  justify-content: center;
  text-align: center;
  z-index: 3;
  margin-top:90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

  .img6 {
  position: absolute;
  height:400px;
  z-index: 2;
  margin-top: 60px;
} 

#contUl16  {
  align-self:start;
  justify-self: right;
  padding: 20px;
  text-align: left;
  }

  .parraf{
    font-size: 1.75rem;
    margin-left: 20px;
    line-height: 0.3; 
    font-weight: bold;
    color:  #5e5e5e;
    font-family: 'Montserrat', sans-serif; 
  }

  .parraf2{
    color:  #5e5e5e;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 500;
    line-height: 1.8; 
    margin-top: 20px;
    padding: 20 px;
    text-align: left;
  }

  h2{
    color: #045c32;
    font-size: 1.9rem;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif; 
  }

  h3{
    color: #045c32;
    font-size: 2.5rem;
    margin-left: 120px;
    font-weight: bolder;
    margin-bottom: 0;
    font-family: 'Montserrat', sans-serif; 
  }

  .title2{
    color: #fff;
    font-size: 2.5rem;
    letter-spacing: 1px;
    font-weight: bolder;
    letter-spacing: -1px;
    font-family: 'Amatic SC', sans-serif;
    margin-left: 10px;
  }

  .parraf3{
    color:  #fff;
    font-size: 0.9rem;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 500;
    line-height: 1.6; 
    margin: 5px; 
  }


/*Contenedor 3 */

#contenedor4{
  display:grid;
  grid-template-columns: 0.5fr 3fr;
  column-gap: 3%;
  background-image: url(imagen/contenedor3.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 50vh;
  z-index: 1;
  margin-top: 60px;
}

#derecha4{
  display: grid;
  padding: 10px;
}

#contUl14 {
  align-self:start;
  justify-self: left;
  }

  /*** Conenedor fotos Owners &&  First Class cont7 y cont8 **/
  #contenedor7{
    padding: 20px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3%;
    direction: rtl;
  }
  
  #izquierda7{
    display: grid;
    grid-template-columns: 1fr;
    overflow:hidden;
    column-gap:10px;
    justify-content: center;
  
  }
  
  #derecha7{
    display: grid;
    align-items: center;
    direction: ltr;
  
  }
  
  .imgdiv7 {
    height: 100%;
    justify-content: center;
    text-align: center;
    margin-top: 30px; 
  }


  #contUl17  {
    align-self:start;
    justify-self: right;
    margin-top: 30px; 
    }

    .title7{
      color: #5e5e5e;
      font-size: 2.5rem;
      letter-spacing: 1px;
      font-weight: bolder;
      letter-spacing: -1px;
      font-family: 'Amatic SC', sans-serif;
    }

    .parraf7{
      font-size: 1.3rem;
      font-family: 'Montserrat', sans-serif; 
      font-weight: 600;
      line-height: 2; 
      margin-top: 30px; 
      
    }

    #contenedor8{
      padding: 20px;
      display:grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 3%;
      
    }
    
    #izquierda8{
      display: grid;
      grid-template-columns: 1fr;
      overflow:hidden;
      column-gap:10px;
      justify-content: center;
    
    }
    
    #derecha8{
      display: grid;
      align-items: center;
    }
    
    .imgdiv8 {
      height: 100%;
      justify-content: center;
      text-align: center;
    }


      .imgdiv7 img, .imgdiv8 img {
      object-fit: cover;
      height:55vh;
      vertical-align: middle;
      border-style: none;
      justify-content: center;
    }
  
    #contUl18  {
      align-self:center;
      justify-self: left;
      }
  
      .title8{
        color: #045c32;
        font-size: 2rem;
        font-weight: bolder;
        letter-spacing: -1px;
        margin-top: 10px; 
        font-family: 'Amatic SC', sans-serif;
      }

      #contenedor9{
         background-image: url(imagen/contenedor4.png);
         background-position: center;
         background-size: cover;
         background-repeat: no-repeat;
         width: 100%;
         height: 50vh;
       }


       /** Servicios */

       #contenedor5{
        display: grid;
      }
      
      #contUl5 {
        text-align: center;
        padding: 20px;
        
        }
        
        #contUl52{
          display: grid;
          grid-template-columns: 1fr 1fr;
          column-gap: 25px;
          row-gap: 25px;
          padding: 20px;
          justify-items: center;
        }

       .imgdiv5 {

        display: flex;
        justify-content: center; 
        align-items: center;
        width: 100%; 
       
       }
       
       
       .imgdiv5 img {
        max-width: 100%; 
        height: auto;
        vertical-align: middle;
       }



      .divgallery{
        display: grid;
        background: white;
        padding: 1vw 0 1vw 2vw;
      }

h4 {
	margin-bottom: 15px;
	font-weight: bold;
  color: #045c32;
  font-size: 2.8rem;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Amatic SC', sans-serif;
}

span {
  font-style:normal;
  font-weight:600;
  font-size: 1rem;
	margin-bottom: 15px;
  margin-top: 10px;
  font-family: 'Montserrat', sans-serif; 
  color: #045c32;
  font-style: italic;
}

p {
  font-family: 'Montserrat', sans-serif; 
  color: #5e5e5e;
  font-weight:600;
  line-height: 2em;
  font-size: 1.3rem;
}

.subtitle{
	font-size: 2.5rem;
	line-height: 1.7em;
	font-weight: bold;
  color:  #045c32;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-family: 'Amatic SC', sans-serif;


}

#contenedor10{
  display: grid;
}

#contUl10 {
  text-align: left;
  margin-left: 50px;
  
  }
  
  #contUl102{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    padding: 15px;
    justify-items: center;
  }


.divgallery10{
  display: grid;
  background: white;
  padding: 1vw 0 1vw 2vw;
}

.servmov{
  text-align:left;
  color: #5e5e5e;
  font-weight: bold;
  font-size: 2.5rem;
}

.gris{
  color: #5e5e5e !important;
  font-size: 1.9rem;
  font-family: 'Montserrat', sans-serif; 
}
       

.imgdiv10 {

  display: flex;
  justify-content: center; 
  align-items: center;
  width: 100%; 
 }
 
 .imgdiv10 img {
  max-width: 60%; 
  height: auto;
  vertical-align: middle;
 }
 
 /**Contenedor 11 */

 #contenedor11{
  padding: 20px;
  display:grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10%;  
  background-image: url(imagen/contenedor11.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 70vh;
/*   gap: 20px; */
}

#izquierda11{
  display: grid;
  grid-template-columns: 1fr;
  overflow:hidden;
  column-gap:10px;
  justify-content: center;

}

#derecha11{
  display: grid;
  align-items: right;
  padding: 30px;
}

.imgdiv11 {
  height: 100%;
  justify-self: center; 
  margin-right: 0;
}



#contUl111  {
  align-self:center;
justify-self: center;
width: 100%;
  }

.leter11{
  font-family: 'Amatic SC', sans-serif;
  color: #fff;
}

.parraf11{
  color: #fff;
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: right;
  font-family: 'Montserrat', sans-serif; 
}
     


.vertical-form {
  display: flex;
  flex-direction: column;
  width: 100vh;
  height: auto;
}


.vertical-form input,

.vertical-form textarea {
  margin-bottom: 1em;
  padding: 0.5em;
  border: 2px solid #ddd;
  background-color: transparent;
}


::placeholder {
  color: #fff;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif; 
  font-size: 0.8rem;
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 1em;
}

.form-buttons button {
  margin-left: 1em;
  padding: 0.5em;
  border: none;
  color: #fff;
  font-weight: bold;
  background-color: transparent;
  cursor: pointer;
}

.form-buttons button:hover{
  color:#f05a20;
  font-weight: bold;
}

.form-buttons .submit {
  border: 2px solid #ffffff;
  background-color: transparent;
  color: white;
  font-weight: bold;
}

.form-buttons .submit:hover {
  background-color: #45a049;
}


#map-container {
  height: 400px; 
  width: 100%;
  position: relative;
}

#map {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}


#idFooter {
  background-image: url(imagen/final.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh; 
  width: 100%;
}

#contenedor13 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:end;
  height: 100%;
}

.headers {
  text-align: center;
}

.headers i {
  margin-left: 10px;
  font-size: 1.9em;
  color: #fff;
}

.footh2{
  color: #fff;
  font-weight: bold;
  font-family: 'Amatic SC', sans-serif;
  font-size: 2em;
  letter-spacing: 3px;

}

.footp{
  color: #fff;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;  
  letter-spacing: 2px;
  font-size: 0.8em;
}

i:hover{
  color: #f36523;
}

.contenedor14{
  background-color: #fff;
}

.derchos{
  color: #045c32;
  font-size: 1.2em;
  letter-spacing: 2px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  padding: 12px;
}

#contenedor12 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#izquierda12 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}

#derecha12 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e0e0e0;
}

.imgdiv12 {
  max-width: 100%;
  height: auto; 
}

.img12 {
  max-width: 100%;
  height: auto;
}

#map-container {
  width: 100%;
  height: 100%;
}

#map {
  width: 100%;
  height: 100%;
  border: 0;
}



.diccontfot{
  display: grid;
  grid-column: 1/4;
  grid-row: 2/3;
  background-color: black;
}


.diccontent{

  display: grid;
  grid-template-columns: 1fr 1fr;
 /*  column-gap: 15px;
  align-items: center;
  justify-content: center; */
  margin: 0;
  padding: 2vw 5vw 0 5vw;
  grid-row: 1/3;
  grid-column: 2/3;
  grid-template-rows: auto 1fr;
  background-image: url(imagen/contenedor11.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 50vh;
}



#izquierda14{
  display: grid;
  grid-template-columns: 1fr;
  overflow:hidden;
  column-gap:10px;
  justify-content: center;
}

#derecha14{
  display: grid;
/*   grid-row: 1/3;
  grid-column: 2/3;
  grid-template-columns:  1fr; */
  column-gap: 10px;
  row-gap: 15px;
  align-items: center;
  margin: 20px;
}

.inputcontc{
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  height: 100%;
  line-height: 1;

}

.buttoncontact{
  grid-column: 1/3;
  width: fit-content;
  background-color: unset;
  color: #DF991B;
  padding: 5px 30px;
  border-radius: 100px;
  letter-spacing: 3px;
  border: 1px solid #DF991B;
  font-weight: bold;
  height: 30px;
  justify-self: end;
  text-transform: uppercase;
}

@media (max-width: 1050px) {
  .logo_title{
    font-size: 0.8rem;
  }
  .hero_title{
    font-size: 1.4rem;
  }
  .hero_subtitle{
    font-size: 1.5rem;
    line-height: 20px;
  }


  .hero_cta{
    font-size: 0.75rem; 
    margin-top: 10px;
  }

  .imagen_de{
    height: 20vw;
  }
}

@media (max-width: 830px) {
  
  .imagen_de{
    height: 30vw;
  }

  .nav {
    grid-auto-flow: row;
    justify-content: center;
    text-align: center;
    position: relative;
    padding: 10px;
    background-color: #045c32;
   
  }

  .nav_list {
    grid-auto-flow: row;
    gap: 1em;
    margin: 20px;
    
  }

  .nav_link {
    font-size: 1rem;
    color: #fff;
    
  }


  #background-video {
    display: none; 
  }

  .hero_main {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #fff;
  }


  .derecha {
    background-image: none;
    text-align: center;
    height: 60vh;
    margin: 0; 
  }
  
  .img6{
    display: none; 
  }


  #alinear {
    margin: 0;
  }


  #contenedor6 {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 20px;
  }
  
  #izquierda6 {
    display: grid;
    justify-content: center;
  }
  
  #derecha6 {
    display: grid;
    align-items: center;
  }
  
  .imgdiv6 {
    position: relative;
    text-align: center;
    margin-top: 10px;
  }
  
  #contUl16 {
    align-self: start;
    justify-self: center;
    padding: 20px;
    text-align: center;
  }
  
  .parraf {
    font-size: 1.75rem;
    margin-left: 0;

  }
  
  .parraf2 {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
  }


  #contenedor7 {
 
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 3%;
  }


#izquierda7 {
  display: grid;
  grid-template-columns: 1fr;
  overflow: hidden;
  justify-content: center;
}

#derecha7 {
  display: grid;
  align-items: center;
}

.imgdiv7 {
  height: 100%;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
}

#contUl17 {
  align-self: center;
  justify-self: center;
  text-align: center;
  margin-top: 30px;
}

#contenedor8 {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 3%;
}


#derecha8 {
  display: grid;
  align-items: center;
}

.imgdiv8 {
  height: 100%;
  justify-content: center;
  text-align: center;
}

.imgdiv8 img {
  object-fit: cover;
  height: 40vh;
  vertical-align: middle;
  border-style: none;
  justify-content: center;
}

#contUl18 {
  align-self: center;
  justify-self: center;
  text-align: center;

}

#contenedor9 {
  background-image: url(imagen/contenedor4.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 30vh;
}

#contenedor5 {
  display: grid;
}

#contUl52 {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 25px;
  padding: 20px;
  justify-items: center;
}

#contUl5 {
  text-align: center;
  padding: 20px;
}




/*CONTENEDOR 4*/
  #contenedor4 {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #045c32;
    height: auto;
    margin-top: 60px;
  }
  
  #derecha4 {
    display: grid;
    padding: 10px;
  }
  
  #contUl14 {
    align-self: center;
    justify-self: center;
    text-align: center;
  }
  
  .title2 {
    color: #fff;
    font-size: 2rem;
    font-weight: bolder;
    font-family: 'Amatic SC', sans-serif;
    margin: 10px 0;
  }
  
  .parraf3 {
    color: #fff;
    font-size: 0.9rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 1.6;
    margin: 5px;
  }

  
  
  #contenedor10 {
    display: grid;
  }
  
  #contUl10 {
    text-align: center;
    margin: 20px;
  }

  
  #contUl102 {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
    padding: 15px;
    justify-items: center;
  }
  
  #idFooter {
    width: 100%;
    height: 60vh;
  }
  
  .headers i {
    font-size: 1.3em;
  }

  .footh2{
    font-size: 22px;
  }

  
.diccontent{

  width: 100%;
  height: 45vh;
}

 #contenedor11 {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  height: auto;
  background-image: none;
  background-color: #045c32;
}

#izquierda11,
#derecha11 {
  display: grid;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

#contUl111 {
  width: 100%;
}

.vertical-form {
  max-width: 100%;
}

 }

 /* Consulta de medios para versión móvil */
@media (max-width: 720px) {
  #contenedor11 {
    background-image: none; 
    background-color: #045c32; 
  }

  .vertical-form {
    max-width: 100%; 
  }


  #contenedor11 {
    background-image: none; 
    background-color: #045c32;
  }

  .vertical-form {
    max-width: 100%; 
  }


}
